# eclipse
bin
.classpath
.project

# idea
out
*.ipr
*.iws
.idea

# gradle
build
.gradle

# other
eclipse
run
/src/main/resources/assets/specorium/textures/items/ascended_ingot_full.pdn
/src/main/resources/assets/specorium/textures/items/ascended_ingot.pdn
